/*@import "reset.css";*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  background-image: url('photos/smaller-van.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.nav {
  display: flex;
  margin: 2% 0;
  font-size: 1.2rem;
  font-weight: bold;
  list-style-type: none;
}

.nav__name {
  width: 18%;
  font-size: 1.4rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  width: 70%;
}

.nav__links li {
}

.nav--link {
  margin: 0 2.4%;
  color: black;
  text-decoration: none;
}

.nav--link:hover {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav--taco {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav__info {
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.nav--info {
  color: black;
  text-decoration: none;
}

.nav--info:hover {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav--contact {
  margin-left: 8%;
}

section {
  background-color: #F7F0EE;
  margin: 0 6%;
  padding: 0 2rem 2rem;
  line-height: 2rem
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: 2% 16%;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 1.6rem;
}

.main__para {
  font-size: 1.2rem;
  margin: 2.4rem; 
}

.meet-taco__photos {
  display: flex;
  justify-content: space-evenly;
}

.taco__photos {
  height: 16rem;
  border-radius: 3%;
}

.jared-hannah {
  transform: rotate(90deg);
}

.live__photos {
  transform: rotate(90deg);
  margin: 2rem 0;
}

.meet-taco__h1 {
  margin-top: 24%;
}

.main__image--first {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.how__photos {
  transform: rotate(90deg);
}

.truth__photos {
  height: 16rem;
  border-radius: 3%;
}

.rotate-pics {
  transform: rotate(180deg);
}

.form__wrap {
  background-color: #F7F0EE;
  margin: 2% 6%;
  padding:2rem;
  display: flex;
  flex-direction: column;
}

.bottom__form {
  display: flex;
  justify-content: center;
}

.form__message {
  width: 400px;
  height: 100px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
/*  overflow-wrap: normal;
  overflow-wrap: break-word;*/
}

.submit {
  width: 7rem;
  height: 2rem;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bolder;
}

