/*@import "reset.css";*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  background-image: url('smaller-van.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

ul {
  display: flex;
  margin: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  list-style-type: none;
}

.nav {
  display: fixed;
}

.nav__name {
  text-align: left;
  width: 18%;
  font-size: 1.4rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  width: 70%;
}

.nav__links li {
  margin: 0 2.4%;
}

.nav--link:hover {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav--taco {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav__info {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.nav--info:hover {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: .5rem;
}

.nav--contact {
  margin-left: 8%;
}

section {
  background-color: #F7F0EE;
  margin: 0 6%;
  padding: 0 2rem 2rem;
  line-height: 2rem
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: 2% 16%;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 1.6rem;
}

.main__para {
  font-size: 1.2rem;
  margin: 2.4rem; 
}

.meet-taco__h1 {
  margin-top: 24%;
}

.main__image--first {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transform: rotate(90deg);
}





